.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    max-width: 1400px;
    min-height: 450px;
    max-height: 1000px;
}