.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-width: var(--max-width);
    min-height: 450px;
    max-height: 1350px;
}

.header__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 70px 0px;
    padding-top: 60px;

    @media (min-width: 700px) {      
        justify-content: center;
    }
    @media (max-height: 540px) {      
        padding-top: 0px;
    }
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
}

.section__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100px;
    max-width: 600px;
}

.section__container--description{
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(220, 219, 219);
    text-align: center;
    
    @media (min-width: 700px) {
        margin: 20px 0px;
    }
}


.section__container--button {
    /* From uiverse.io by @kirzin */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 220px;
    height: 60px;
    font-size: 2rem;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    z-index: 1;
    user-select: none;
    animation: animation 16s linear infinite;


    &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
        filter: blur(20px);
    }
}



@keyframes animation {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 400%;
    }
    100% {
        background-position: 0%;
    }
}