.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: var(--max-width);

    padding: 20px 0px;
    @media (min-width: 700px) {
    }
}