.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.section__container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.title{
    line-height: 4rem;
}

.title__text_1{
    font-size: 5rem;
    font-weight: 800;
    background-clip: text;
    color: transparent;  
    background-image: linear-gradient(to right, #fb5d7f, #f25d8f, #e7609d, #d864aa, #c869b4, #c065bb, #b562c3, #a860cb, #9d54d6, #8e4ae3, #7742f0, #503cff);
}

.title__text--2{
    font-size: 5rem;
    font-weight: 800;
    background-clip: text;
    color: transparent;  
    background-image: linear-gradient(to right, #523aff, #0063ff, #007fff, #0096ff, #00aaff, #00b9ff, #00c7fd, #0cd4f8, #34e1f0, #5aece7, #7ff6dc, #a3ffd3);
}



@media (min-width: 400px) {
    .title__text_1,
    .title__text--2{
        font-size: 5.5rem;
    }    
        
    .title{
        line-height: 4.5rem;
    }    
}


@media (min-width: 550px) {
    .title__text_1,
    .title__text--2{
        font-size: 7rem;
    }    
       
    .title{
        line-height: 5rem;
    }
}


@media (min-width: 770px) {
    .title__text_1,
    .title__text--2{
        font-size: 9rem;
    }    
       
    .title{
        line-height: 7rem;
    }

}


@media (min-width: 970px) {
    .title__text_1,
    .title__text--2{
        font-size: 12rem;
    }    
       
    .title{
        line-height: 9rem;
    }

}

@media (min-width: 1190px) {
    .title__text_1,
    .title__text--2{
        font-size: 10rem;
    }

    .title{
        line-height: 8rem;
    }

}
