.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
}

.section__title{
    font-size: 5rem;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}


.section__text{
    width: 90%;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(220, 219, 219);
    text-align: justify;
    letter-spacing: .03rem;
    line-height: 2.4rem;
}

.section__text b{
    color: orange;
    font-weight: 500;
}



@keyframes animation {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}